.add-remove-btn-container {
    display: flex;
    flex-direction: column;
}

.filter-title p {
    margin-block-end: 0.3rem;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*btns*/
.btn-return-acervo:before{
    background-image: url('../Icon/arrow-return.svg');
}


.btn-add:before{
     background-image: url('../Icon/check.svg');
}

.btn-remove{
    border: none;
}

.btn-remove:before{
    background-image: url('../Icon/X.svg');
}

.btn-filter-added::before{
    background-image: url('../Icon/X.svg');
}

/*Acordion*/
.accordion {
    background: none;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
}

.accordion:after {
    content: '';
    position: absolute;
    right: 1rem;
    width: 1rem;
    height: 0.5rem;
    background-image: url('../Icon/arrow-filters.svg');
    background-repeat: no-repeat;
    align-self: anchor-center;
}

.accordion.active:after {
    background-image: url('../Icon/arrow-filters.svg');
    transform: rotate(180deg);
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.filter-option {
    display: flex;
    align-items: center;
    padding-block-end: 0;
    padding-right: 0.3rem;
}

.filter-option p {
    margin-bottom: 0.3rem;
}

.filter-option:hover {
    font-weight: 600;
}


.filter-option p::before {
    content: '';
    display: none;
    width: 1rem;
    height: 0.5rem;
    background-image: url('../Icon/X.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

 .filter-option.add-filter p::before {
    display: inline-block;
}

 .filter-option.add-filter p {
    text-align: left;
}

.accordion-filters {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.filters-added{
    padding: 1rem 0rem;
}

.btn-filter-added:hover{
    font-weight: 600;
    font-size: 1.1rem;
}


/*Cards*/
.obras-card-container {
    display: flex;
    flex-wrap: wrap;
    color: #FCFAF8;
    overflow: hidden;
    justify-content: space-between;
}

.obra-card {
    position: relative;
    flex: 0.5 0.5 14.5rem;
    max-width: 14.5vw;
    margin: 1rem;
    height: 18vw;
    overflow: hidden;
}

.obra-card .card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.obra-card .card-img-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.2rem;
    z-index: 2;
}

.obra-card .card-img-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(42, 42, 42, 0.85);
    mask: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgb(0, 0, 0) 86%, rgb(0, 0, 0) 100%);
    transition: background-color 0.4s ease, opacity 0.6s ease;
    z-index: 1; /* A máscara fica abaixo do texto */
}


.obra-card:hover .card-img-overlay::before {
    background: rgba(0, 0, 0, 0.9);
}

.obra-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
    align-items: center;
}

.obra-title,
.obra-info {
    position: relative;
    color: #FCFAF8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2; /* Garante que o texto fica acima da máscara */
}

.obra-info p {
    margin-bottom: 0rem;
}