.breadcrumb{
    margin: 1rem 2rem 2rem 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #100c0750;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "";
    background-position: center;
    height: 1rem; 
    background-image: url('../Icon/arrow-bread-crumbs.svg'); 
    background-repeat: no-repeat; 
    margin: 0.4rem; 
  }

.breadcrumb-item a {
    color:#100C07;
    text-decoration: none;}
    

.breadcrumb-item.now{
    font-weight: 700;
    color: #100C07;
}