/*Botons*/

.btn-primary {
    min-width: 200px;
    height: 40px;
    color: #100C07;
    border: 2px solid #100C07;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #FCFAF8;
    background-color: #100C07;
    border: 2px solid #100C07;
}

.btn-secondary {
    min-width: 200px;
    height: 40px;
    background-color: #100C07;
    color: #FCFAF8;
    border: 2px solid #100C07;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.btn-secondary:hover {
    color: #100C07;
    background-color: #FCFAF8;
    border: 2px solid #FCFAF8;
}

.filtros-cartegories {
    border: none;
    height: 40px;
    background-color: #C9C8C8;
    text-transform: uppercase;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 162%;
}

.filtros-cartegories:hover {
    background-color: #100C07;
    color: #FCFAF8;
}

.filtros-cartegories.ative {
    background-color: #100C07;
    color: #FCFAF8;
}

.btn-filter-accordion {
    border: none;
    background: none;
}

.btn-icon{
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
 
.btn-icon:before {
    content: '';
    position: initial;
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .btn-icon img {
    padding-left: 1.5rem; 
  }

  .btn-filter-added{
    border: none;
    background: none;
    font-family: Montserrat;
    font-weight: 600;
    font-variant: small-caps;
  }

@media only screen and (max-width: 320px) {
    .btn-primary {
        width: 100px;
        height: 40px;
    }

    .btn-secondary {
        width: 100px;
        height: 40px;
    }
}