/*Botons*/
.btn-primary {
    min-width: 200px;
    height: 40px;
    color: #100C07;
    border: 2px solid #100C07;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 0;
    transition: background-color 0.3s linear;
}

.btn-primary:hover {
    color: #FCFAF8;
    background-color: #100C07;
    border: 2px solid #100C07;
    transition: background-color 0.3s linear;
}

.btn-secondary {
    min-width: 200px;
    height: 40px;
    background-color: #100C07;
    color: #FCFAF8;
    border: 2px solid #FCFAF8;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 0;
    transition: background-color 0.3s linear;
}

.btn-secondary:hover {
    color: #100C07;
    background-color: #FCFAF8;
    border: 2px solid #FCFAF8;
    transition: background-color 0.3s linear;
}

.btn-primary svg,
.btn-secondary svg{
    width: 15px;
    height: 15px;
    transition: fill 0.3s linear;
}

.btn-primary svg path,
.btn-secondary svg path {
    fill: currentColor;
}

#btn-top{
    border: none;
    background: none;
    color: white; 
    cursor: pointer; 
  }

#btn-none{
    all: unset;
    display: flex;
    gap: 4px;
    cursor: pointer;
}

.filtros-categories {
    border: none;
    height: 40px;
    background-color: #C9C8C8;
    text-transform: uppercase;
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 162%;
}

.filtros-categories:hover {
    background-color: #100C07;
    color: #FCFAF8;
    transition: background-color 0.4s ease;
}

.filtros-categories.active {
    background-color: #100C07;
    color: #FCFAF8;
}

.btn-filter-accordion {
    border: none;
    background: none;
}

.btn-icon {
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3px;
}

.btn-primary:hover svg path,
.btn-secondary:hover svg path{
    fill: currentColor;
}

.btn-primary span, 
.btn-secondary span {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-filter-added{
    border: none;
    background: none;
    font-family: Montserrat;
    font-weight: 600;
    font-variant: small-caps;
  }

.btn-remove{
    border: none;
}

@media only screen and (max-width: 992px) {
    .filtros-categories {
        height: 30px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .btn-primary,
    .btn-secondary {
        width: 100px;
        height: 40px;
    }

    .filtros-categories {
        height: 25px;
        font-size: 0.65rem;
    }

}