.contacts-container {
    align-content: center;
}

.contacts-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.contacts-places {
    margin: 1rem 0;
    padding: 0 4rem 0 1rem;
    border-left: 1.5px solid #100C07;
}

.contacts-places h3 {
    font-size: 1.2rem;
}

.contacts-places p {
    font-size: 1rem;
}

.contacts-icon {
    display: flex;
    position: relative;
    gap: 0.5rem;
}

.contacts-icon p {
    margin-block-end: 0;
    display: flex;
    align-items: center;
}

.contacts-icon::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.day::before {
    background-image: url('../Icon/calendar.svg');
}

.hour::before {
    background-image: url('../Icon/clock.svg');
}

.phone::before {
    background-image: url('../Icon/phone.svg');
}

.mail::before {
    background-image: url('../Icon/email.svg');
}