/*TypeFont*/
h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    font-style: normal;
    font-weight: 750;
    font-variant: small-caps;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    font-variant: small-caps;
}

h3 {
    font-family: 'Julius Sans One';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    font-family: Afacad;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 108%;
}

/*News-Tittles*/
h5 {
    font-family: Afacad;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}

/*Body text*/
body {
    font-family: Afacad;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

body .bold{
    font-family: Afacad;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

body .small{
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


body .big-bold {
    font-family: Afacad;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}


/*Type for details like dates and categories*/
p.font-detail {
    font-family: Karla;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

p.subtitle {
    font-family: Afacad;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: #100C07;
    text-decoration: none;
}

.bold-text {
    font-weight: 600;
}