/*Tipografia*/
h6{
    font-family: 'Afacad';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #FCFAF8;
}

.footer-type {
    font-family: Afacad;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    color: #FCFAF8;
}

h6:hover,
.footer-type:hover {
    color: #FEA017;
}

/*Footer*/
#footer-container {
    background-color: #100C07;
    height: 100%;
    color: #FCFAF8;
}

.footer-container-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 0.8rem 5rem;
}


#footer-container .footer-logo {
    filter: invert(100%);
}

#footer-container .footer-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.2rem;
}

#footer-container .footer-menu {
    display: flex;
    gap: 4%;
    justify-content: center;
    margin-inline-start: 5vw;
}

#footer-container .footer-return-top {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-bottom: 0.3rem;
    align-items: center;
    padding-top: 2.3rem;
}

#footer-container .footer-rights {
    padding-top: 0.4rem;
    border-top: 1px solid #FCFAF8;
    margin-bottom: 1.5rem;
}

footer ul, 
footer li {
    all: unset; 
    width: 100%;
  }

@media only screen and (max-width: 768px) {

    /*Footer*/
    #footer-container .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 2rem;
        padding: 5%;
        margin-inline-start: 0;
    }

    #footer-container .footer-logo img {
        width: 100px;
    }
}

@media only screen and (max-width: 576px) {
        #footer-container .footer-logo {
        display: none;
    }

    .footer-container-content {
        padding: 0;
    }

    #footer-container .footer-container-end {
        padding: 0 3rem;
    }
}