.vertical-menu {
    width: 23.5%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.menu-item {
    position: relative;
    width: 100%;
    height: 15rem;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.8rem;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.menu-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 160, 23, 0.70);
}

.menu-item.active .menu-item-overlay,
.menu-item-overlay:hover {
    background: rgba(254, 160, 23, 0.20);
}

.menu-item p {
    position: relative;
    z-index: 2;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.60);
}

.contatos {
    background-image: url('../images/menu-lateral/carta-guerra.jpg');
}

.localizacao {
    background-image: url('../images/menu-lateral/tras-montes.jpg');
}

.apresentacao {
    background-image: url('../images/menu-lateral/cinemateca.jpg');
}

.historia {
    background-image: url('../images/menu-lateral/verdes-anos.jpg');
}

.missao{
    background-image: url('../images/menu-lateral/anim.jpg');
}

.agenda {
    background-image: url('../images/menu-lateral/sala-cinema.webp');
}

.acervo {
    background-image: url('../images/menu-lateral/Almadraba-atuneira.jpg');
}