/*Tipografia*/
h3 {
    -webkit-text-stroke-width: 0.5px;
    font-family: 'Julius Sans One';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-menu-navbar {
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
}

/*Navbar*/
#navbar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 10rem;
    background: none;
    transition: all 0.2s linear;
}

#navbar.scrolled {
    height: 6rem;
}

#navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            rgba(16, 12, 7, 1) 40%,
            rgba(16, 12, 7, 0.7) 60%,
            rgba(16, 12, 7, 0.3) 85%,
            rgba(16, 12, 7, 0) 100%);
    z-index: 0;
}

#navbar a h3 {
    float: left;
    display: block;
    color: #FCFAF8;
    padding: 1.5vw 1.5vw 0 1.5vw;
}

#navbar-menu a h3:hover {
    color: #FEA017;
}

.navbar-menu-container {
    position: absolute;
    top: 26%;
    right: 9%;
}

#navbar-menu {
    display: flex;
    flex-direction: row;
}

.navbar-menu-icon {
    display: none;
}

.navbar-logo {
    position: absolute;
    left: 5%;
    transition: all 0.3s ease-in-out;
}

#navbar img {
    filter: invert(100%);
}

.navbar-logo img {
    height: 12vw;
    transition: all 0.3s ease-in-out;
}

.navbar-logo img.scrolled {
    height: 8.5vw;
}

.navbar-menu-icon svg {
    fill: #FCFAF8;
    height: 30px;
    transition: all 0.2s linear;
}

.navbar-menu-icon svg:hover {
    fill: #FEA017;
    transition: all 0.2s linear;
}

#navbar .navbar-open-triangle {
    border-left: 0.6vw solid transparent;
    border-right: 0.6vw solid transparent;
    border-bottom: 1vw solid #100c07dc;
}

#navbar .option-menu-container {
    display: flex;
    width: 10rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background: #100c07dc;
    color: #FCFAF8;
}

#navbar .option-menu-container:hover {
    background: #fea217;
}

#navbar .navbar-menu-options-open {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: anchor-center;
}

.navbar-hamburguer-container {
    display: none;
    position: fixed;
    width: 100%;
    flex-direction: column !important;
    color: #FCFAF8;
}

.close-hamburguer-container,
.navbar-hamburguer {
    padding-top: 1.2rem;
    background-color: #100c07dc;
    width: 100%;
}

.navbar-hamburguer-last {
    padding-bottom: 1.2rem;
}

.navbar-hamburguer-container a {
    color: #FCFAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
    margin: 0.2rem;
}

.navbar-hamburguer-container menu {
    flex-direction: column !important;
}

.navbar-hamburguer a:hover {
    background-color: #fea217d4;
    transition: all 0.4s linear;
}

.navbar-hamburguer a {
    width: 100%;
}

.close-hamburguer-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2vw;
    padding-right: 6.5vw;
}

.close-hamburguer-icon {
    width: 1.2rem;
}

.hamburguer-hover svg {
    fill: #FCFAF8;
    stroke: #FCFAF8;
    stroke-width: 0.5px;
    transition: all 0.2s linear;
}

.hamburguer-hover svg:hover {
    fill: #FEA017;
    stroke: #FEA017;
    transition: all 0.2s linear;
}

#navbar menu,
#navbar li {
    all: unset;
    display: flex;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    unicode-bidi: isolate;
    justify-content: center;
}

#navbar ul {
    padding-left: 0;
}

@media only screen and (max-width: 992px) {
    .body-menu-navbar {
        font-size: 0.85rem;
    }

    .navbar-logo img {
        height: 16vw;
    }

    #navbar .navbar-menu-container a:not(:last-of-type) {
        display: none;
    }

    #navbar .navbar-menu-container .navbar-menu-options {
        display: none;
    }

    .navbar-menu-icon {
        float: right;
        display: block;
    }

    .navbar-logo img.scrolled {
        height: 14vw;
    }

    .navbar-menu-container {
        top: 12%;
        right: 7%;
    }
}

@media only screen and (max-width: 576px) {
    .navbar-menu-container {
        top: 8%;
        right: 7%;
    }

}

@media only screen and (max-width: 320px) {
    .navbar-menu-container {
        top: 6%;
        right: 7%;
    }

    .navbar-hamburguer-container {
        top: 45px;
    }
}