.video-main-container{
    width: 100%;
    position: relative;
    margin-top: -17vw;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container {
    top: 0; 
    max-width: 80%;
    max-height: 45rem;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
    max-height: 45rem;
    display: none;
}

.video-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-overlay img.video-placeholder {
    width: 100%;
    height: 100%;
    max-height: 45rem;
    object-fit: cover;
    z-index: 1;
}

.video-container .video-filter-overlay{
    background-color: rgba(16, 12, 7, 0.70);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}

.play-button {
    width: 10rem; 
    height: auto;
    position: absolute;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 3;
}

.video-overlay:hover .play-button{
    opacity: 1;
    transform: scale(1.2);
}

.lateral-container{
    background-color: #fea01766;
    width: 30rem; 
    height: 40rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 6rem 4rem;
    margin-top: 5rem;
}

.ficha-tecnica {
    padding: 1rem 1rem 0 0 ;
}

.ficha-tecnica-details{
    display: flex;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

.ficha-tecnica-details p{
    margin-bottom: 0;
}

.product-container{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.product-description-container{
    width: 83%;
}

.icone-dot {
    filter: invert(99);
    width: 0.3rem;
}

.country h3{
    margin-bottom: 0rem;
}

.resume-text-container{
    width: 70%;
    line-height: 1.5rem;
}

.generate-pdf,
.social-media-share {
    display: flex;
    gap: 0.4rem;
}

.share-container p{
    margin-bottom: 0;
}

.news-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #100C07;
    margin-top: 3rem;
    padding-top: 0.9rem;
    width: 75%;
}

.news-cards-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.new-card{
    width: 17rem;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0 5rem 0;
}

@media (max-width: 768px) {
    .page-layout-container {
        display: flex;
        flex-direction: column;  
     }

     .lateral-container{
        width: 100%;
        height: auto;
        margin-top: 0;
        padding: 3rem 1rem 3rem 6rem;
     }

     .ficha-tecnica {
        padding: 0;
    }

     .product-description-container {
        width: 90%;
    }

     .news-container {
        width: 90%;
     }

     .news-cards-container {
        flex-wrap: unset;
     }
}
