/*Index page*/
#index-container {
    padding: 0 15%;
}

/*Events*/
.btn-events {
    margin-top: 1rem;
    place-self: flex-end;
}

/*Acervo - Index page*/
.acervo-container {
    display: flex;
    background-color: #100C07;
    color: #FCFAF8;
    height: 100%;
}

.acervo-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.acervo-title h1:last-of-type {
    margin-top: -1rem;
}

.acervo-bold {
    font-family: Afacad;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.acervo-container .acervo-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-self: anchor-center;
    padding: 0 3% 0 10%;
}

.acervo-container .acervo-img-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center
}

.acervo-img-container .acervo-img {
    display: flex;
    position: relative;
    width: 100%;
}


ol.custom-list-acervo {
    counter-reset: item;
}

ol.custom-list-acervo li {
    display: block;
    counter-increment: item;
    margin-bottom: 0.3rem;
}

ol.custom-list-acervo li::before {
    content: counter(item, lower-alpha) ")";
    margin-right: 8px;
}

.btn-container-acervo {
    padding: 1.5rem 0;
}

/*News - Index page*/
.news-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.news-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2rem;
}

.news-card {
    position: relative;
    width: 50%;
    padding: 0.3rem 0.5rem 0rem 1rem;
    transition: background-color 0.5s ease-in-out;
}

.news-card>.card-top {
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    border-top: 1px solid #100C07;
}

.btn-news {
    margin-top: 1rem;
}

/*Media Queries*/

@media only screen and (max-width: 768px) {

    /*Acervo*/
    .acervo-container {
        flex-direction: column;
    }

    .acervo-container .acervo-card {
        width: 100%;
        padding-right: 0;
    }

    .acervo-img-container .image-acervo-2 {
        display: none;
    }

    .acervo-container .acervo-img-container {
        width: 100%;
        flex-direction: row;
    }

    /*News - Index page*/
    .news-card {
        width: 100%;
    }
}