/*Tipografia*/
h3 {
    -webkit-text-stroke-width: 0.5px;
    font-family: 'Julius Sans One';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-menu-navbar {
    font-family: Afacad;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
}

/*Navbar*/
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 10rem;
    left: 0;
    width: 100%;
    background-color: #100c07dc;
}


#navbar a h3 {
    float: left;
    display: block;
    color: #FCFAF8;
    padding: 14px 16px;
    padding-bottom: 6px;
}

.navbar-menu-container {
    position: absolute;
    top: 26.5%;
    right: 9%;
}

#navbar-menu {
    display: flex;
    flex-direction: row;
}

.navbar-menu-icon {
    display: none;
}

.navbar-logo {
    position: absolute;
    top: -12%;
    left: 5%;
}

#navbar img {
    filter: invert(100%);
}

#navbar .navbar-open-triangle {
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 1rem solid #100c07dc;
}

#navbar .option-menu-container {
    display: flex;
    border: 1px solid #100c07dc;
    width: 10rem;
    height: 2rem;
    margin-block-start: -0.1px;
    justify-content: center;
    align-items: center;
    background: #100c07dc;
    color: #FCFAF8;
}

#navbar .navbar-menu-options-open {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: anchor-center;
}

.navbar-hambuguer a {
    display: none;
}

.navbar-hamburguer-container {
    display: none;
    position: fixed;
    top: 65px;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    right: 7%;
    color: #FCFAF8;
}

@media only screen and (max-width: 1470px) {
    h3 {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .navbar-logo {
        position: absolute;
        top: -5%;
        left: 5%;
    }

    .navbar-logo img {
        height: 135px;
    }

    #navbar a h3 {
        padding: 5px 20px;
    }

    .navbar-menu-container {
        top: 16%;
        right: 7%;
    }
}

@media only screen and (max-width: 1000px) {

    h3 {
        font-size: 1rem;
        font-weight: 300;
    }

    .navbar-logo img {
        height: 120px;
    }

    #navbar a h3 {
        padding: 2px 9px;
    }

    .navbar-menu-container {
        top: 20%;
        right: 7%;
    }

    .body-menu-navbar{
        font-size: 0.8rem;
    }

    #navbar .option-menu-container {
        width: 8rem;
        height: 1.6rem;
    }

}

@media only screen and (max-width: 768px) {
    .body-menu-navbar {
        font-size: 0.85rem;
    }

    #navbar a h3 {
        padding: 0.5rem 0rem 0rem 0rem;
    }

    #navbar .navbar-menu-container a:not(:last-of-type) {
        display: none;
    }

    #navbar .navbar-menu-container .navbar-menu-options {
        display: none;
    }

    .navbar-menu-icon {
        float: right;
        display: block;
    }

    .navbar-menu-icon img {
        height: 30px;
    }

    .navbar-logo {
        position: absolute;
        top: -8%;
        left: 5%;
    }

    .navbar-menu-container {
        top: 12%;
        right: 7%;
    }

    .navbar-hamburguer-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #100c07dc;
        width: 9rem;
    }

    .navbar-hamburguer-container a:hover {
        background-color: #FEA017;
    }
}


@media only screen and (max-width: 576px) {
    .navbar-logo img {
        height: 80px;
    }

    .navbar-logo {
        position: absolute;
        top: -4%;
        left: 5%;
    }

    .navbar-menu-container {
        top: 8%;
        right: 7%;
    }

    .navbar-hamburguer-container {
        top: 55px;
    }
}

@media only screen and (max-width: 320px) {

    .navbar-menu-container {
        top: 6%;
        right: 7%;
    }

    .navbar-menu-icon img {
        height: 20px;
    }

    .navbar-hamburguer-container {
        top: 45px;
    }
}